.site-content {
  background-image: url('tlo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
}

.menu-item {
  border-right: 3px dotted white;
}

.menu-item:last-child {
  border-right: none;
}

.menu-item-*:hover{
  background-color: gray;
}

@for $i from 1 through 50 {
    .menu-item-#{$i} {
      &:hover {background-color: #E44D26;};
    }
  }

.storefront-primary-navigation {
  height: 50px;
  margin-top: 170px;
}

.col-full {
  height: 220px;
}

@media (min-width: 768px){
  .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
    padding: 0.5em 1em;
  }
}

.site-header {
  background-repeat: no-repeat;
  position: relative;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-color: #000;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 768px){
.site-header-cart .cart-contents {
    padding: 0.5em;
    display: block;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    text-indent: 0;
  }
}

.widget a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}

.widget-area .widget a, .hentry .entry-header .posted-on a, .hentry .entry-header .byline a{
  color: black;
  letter-spacing: 2px;
  font-weight: 700;
}


.cat-item a {
  position: relative;
  display: block;
  font-weight: 900;
  margin-left: 5px;
}

.cat-item a::before {
  color: #c4302b;
  max-width: 0;
  padding: 10px 0;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  position: absolute;
  top: -2px;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  content: attr(data-text);
    transition: all 1s;
}

.cat-item a:hover::before,
.cat-item a:focus::before {
  max-width: 100%;
  outline: none;
  text-shadow: none;
}


.widget_product_categories ul li:before {
  content: "";
}

.widget_product_categories {
  margin-top: -30px;
}

.widget-area .widget a:not(.button) {
  text-decoration: none;
}

.entry-content {
  margin-top: 30px;
}

.entry-content h3 {
  line-height: 22px;
}

.widget-area{
  margin-top: 45px;
}

.szor {
  position: absolute;
  z-index: 99999999999999999999;
  display: none;
}

.myjka {
  position: absolute;
  z-index: 99999999999999999999;
  display: none;
}

.odkurzacz {
  position: absolute;
  z-index: 99999999999999999999;
  display: none;
}

.s1 {
  position: absolute;
  z-index: 99999999999999999999;
  margin-left: -140px;
}

.m1 {
  position: absolute;
  z-index: 99999999999999999999;
  margin-left: 1px;
}

.o1 {
  position: absolute;
  z-index: 99999999999999999999;
  margin-left: 100px;
}

.vis {
  display: block;
}
